@media only screen and (min-width:1200px){
  #HomePage {
    height: calc(170%);
    width: 100%;
    /*border: 2px solid black;*/
  }

  #WeddingPhoto{
    height: 40%;
    width: 70%;
    margin-left: calc((100% - 70%) / 2 );
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/1.jpg");
  }

  #TextArea{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #PerfectBrideTitle{
    color: #c68803;
    font-family: Arial;
    font-size: 2.5vw;
    margin-top: 20px;
  }

  #Intro1{
    width: 50%;
    color: #c68803;
    font-family: Arial;
    font-size: 1.5vw;
    margin-top: 20px;
  }

  #Intro2{
    width: 50%;
    color: #c68803;
    font-family: Arial;
    font-size: 1.5vw;
    margin-top: 20px;
  }

  #OtherImagesArea{
    height: 30%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% calc((100% - 40%) / 3) calc((100% - 40%) / 3) calc((100% - 40%) / 3) 20%;
    grid-template-rows: 100%
  }

  #OtherImages1{
    width: 90%;
    margin-left: 5%;
    height: 80%;
    margin-top: 10%;
    grid-row:1;
    grid-column: 2;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/2.jpg");
  }

  #OtherImages2{
    width: 90%;
    margin-left: 5%;
    height: 80%;
    margin-top: 10%;
    grid-row:1;
    grid-column: 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/19.jpg");
  }

  #OtherImages3{
    width: 90%;
    margin-left: 5%;
    height: 80%;
    margin-top: 10%;
    grid-row:1;
    grid-column: 4;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/3.jpg");
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.9px){
  #HomePage {
    height: calc(100%);
    min-height: 1366px;
    width: 100%;
    background-color: black;
    padding-top: 70px;
  }
  
  #FirstContentContainer{
    height: 50%;
    width: 100%;
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
  }

  #WeddingPhoto{
    border: 2px solid #c68803;
    height: 100%;
    width: 40%;
    /*margin-left: calc((100% - 50%) / 2 );*/
    margin-left: calc((50% - 40%) / 2);
    margin-right: calc((50% - 40%) / 2);
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/1.jpg");
  }

  #TextArea{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    /*border: 2px solid green;*/
  }

  #PerfectBrideTitle{
    color: #c68803;
    font-family: Arial;
    font-size: 4.5vw;
    margin-top: 20px;
    text-align: center;
  }

  #Intro1{
    width: 100%;
    color: #c68803;
    font-family: Arial;
    /*font-size: 25px;*/
    font-size: 2.5vw;
    margin-top: 20px;
  }

  #Intro2{
    width: 100%;
    color: #c68803;
    font-family: Arial;
    /*font-size: 25px;*/
    font-size: 2.5vw;
    margin-top: 20px;
  }

  #OtherImagesArea{
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% calc((100% - 40%) / 3) calc((100% - 40%) / 3) calc((100% - 40%) / 3) 20%;
    grid-template-rows: 100%;
    /*justify-content: center;*/
    align-items: center;
    /*border: 2px solid red;*/
    /*border: 5px solid #c68803;*/
  }

  #OtherImages1{
    /*margin-left: 5%;*/
    /*width: 90%;*/
    /*width: 100%;*/
    height: 80%;
    grid-row:1;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/2.jpg");
    transition: 0.8s;
    border: 5px solid #c68803;
  }

  #OtherImages2{
    width: 90%;
    /*margin-left: 5%;*/
    /*height: 80%;*/
    height: auto;
    /*object-fit: cover;*/
    grid-row:1;
    grid-column: 3;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/19.jpg");
    border: 5px solid #c68803;
  }
  
  #OtherImages2Left{
    width: 30%;
    /*margin-left: 5%;*/
    margin-left: calc(100% - 20% - 20%);
    height: 80%;
    grid-row:1;
    grid-column: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/19.jpg");
    transition: 0.8s;
    border: 5px solid #c68803;
  }
  
  #OtherImages2Right{
    width: 30%;
    /*margin-left: calc(100% - 10%);*/
    height: 80%;
    grid-row:1;
    grid-column: 5;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/19.jpg");
    transition: 0.8s;
    border: 5px solid #c68803;
  }

  #OtherImages3{
    /*width: 90%;*/
    /*margin-left: 5%;*/
    height: 80%;
    grid-row:1;
    /*grid-column: 4;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/3.jpg");
    border: 5px solid #c68803;
  }
  
}

@media all and (max-width: 767.9px){
  #HomePage {
    height: calc(100%);
    min-height: 1000px;
    width: 100%;
    background-color: black;
    padding-top: 70px;
  }
  
  #FirstContentContainer{
    height: 50%;
    width: 100%;
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
  }

  #WeddingPhoto{
    border: 2px solid #c68803;
    height: 100%;
    width: 40%;
    /*margin-left: calc((100% - 50%) / 2 );*/
    margin-left: calc((50% - 40%) / 2);
    margin-right: calc((50% - 40%) / 2);
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/1.jpg");
  }

  #TextArea{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    /*border: 2px solid green;*/
  }

  #PerfectBrideTitle{
    color: #c68803;
    font-family: Arial;
    font-size: 5.5vw;
    margin-top: 20px;
    text-align: center;
  }

  #Intro1{
    width: 100%;
    color: #c68803;
    font-family: Arial;
    /*font-size: 25px;*/
    font-size: 3.5vw;
    margin-top: 20px;
  }

  #Intro2{
    width: 100%;
    color: #c68803;
    font-family: Arial;
    /*font-size: 25px;*/
    font-size: 3.5vw;
    margin-top: 20px;
  }

  #OtherImagesArea{
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% calc((100% - 40%) / 3) calc((100% - 40%) / 3) calc((100% - 40%) / 3) 20%;
    grid-template-rows: 100%;
    /*justify-content: center;*/
    align-items: center;
    /* border: 2px solid red;
    border: 5px solid #c68803; */
  }

  #OtherImages1{
    /*margin-left: 5%;*/
    /*width: 90%;*/
    /*width: 100%;*/
    height: 80%;
    grid-row:1;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/2.jpg");
    transition: 0.8s;
    border: 2px solid #c68803;
  }

  #OtherImages2{
    width: 90%;
    /*margin-left: 5%;*/
    /*height: 80%;*/
    height: auto;
    /*object-fit: cover;*/
    grid-row:1;
    grid-column: 3;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/19.jpg");
    border: 2px solid #c68803;
  }
  
  #OtherImages2Left{
    width: 30%;
    /*margin-left: 5%;*/
    margin-left: calc(100% - 20% - 20%);
    height: 80%;
    grid-row:1;
    grid-column: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/19.jpg");
    transition: 0.8s;
    border: 2px solid #c68803;
  }
  
  #OtherImages2Right{
    width: 30%;
    /*margin-left: calc(100% - 10%);*/
    height: 80%;
    grid-row:1;
    grid-column: 5;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/19.jpg");
    transition: 0.8s;
    border: 2px solid #c68803;
  }

  #OtherImages3{
    /*width: 90%;*/
    /*margin-left: 5%;*/
    height: 80%;
    grid-row:1;
    /*grid-column: 4;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/3.jpg");
    border: 2px solid #c68803;
  }
}