@media only screen and (min-width:1200px){
  #OrganizerPageContainer{
    height: 70%;
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
  }

  #black{
    height: 100%;
    width: 20%;
    background-color: #404040;
  }

  #office{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/Building.jpg");
  }

  #Chi1{
    display: block;
    color: white;
    font-size: 30px;
    margin-left: calc(100% - 90px);
    margin-top: 150px;
  }

  #Chi2{
    display: block;
    color: white;
    font-size: 50px;
    margin-top: 130px;
  }

  #Intro{
    z-index: 2;
    position: relative;
    left: calc(100% - 90px);
    font-size: 30px;
    top: 10px;
    color: #c68803;
    /* f5ea74 */
  }

  #CompanyName{
    display: block;
    width: 600px;
    z-index: 2;
    position: relative;
    left: calc(45%);
    font-size: 45px;
    top: 60px;
    color: #f5ea74;
    font-family: Arial, Helvetica, sans-serif;
    /* f5ea74 */
  }

  #CompanyDesc{
    display: block;
    width: 700px;
    height: 140px;
    z-index: 2;
    position: relative;
    left: calc(45%);
    font-size: 20px;
    top: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(22, 21, 21, 0.3);/*background color and opacity together*/
    padding: 20px 20px 20px 20px;
  }

}

@media only screen and (min-width: 768px) and (max-width:1199.99px){
  #OrganizerPageContainer{
    height: 100%;
    width: 100%;
    /* border-top: 2px solid black; */
    display: flex;
    flex-direction: row;
  }

  #black{
    height: 100%;
    width: 20%;
    background-color: #404040;
  }

  #office{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/Building.jpg");
  }

  #Chi1{
    display: block;
    color: white;
    font-size: 30px;
    margin-left: calc(100% - 90px);
    margin-top: 150px;
  }

  #Chi2{
    display: block;
    color: white;
    font-size: 50px;
    margin-top: 130px;
  }

  #Intro{
    z-index: 2;
    position: relative;
    left: calc(100% - 90px);
    font-size: 30px;
    top: 10px;
    color: #c68803;
    /* f5ea74 */
  }

  #CompanyName{
    display: block;
    width: 600px;
    z-index: 2;
    position: relative;
    left: calc(45%);
    font-size: 45px;
    top: 60px;
    color: #f5ea74;
    font-family: Arial, Helvetica, sans-serif;
    /* f5ea74 */
  }

  #CompanyDesc{
    display: block;
    /* width: 700px; */
    width: 70vw;
    height: 45vh;
    z-index: 2;
    position: relative;
    left: calc(45%);
    /* font-size: 20px; */
    font-size: 4.0vw;
    top: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(22, 21, 21, 0.3);/*background color and opacity together*/
    padding: 20px 20px 20px 20px;
  }
}

@media only screen and (max-width: 767.99px){
  #OrganizerPageContainer{
    height: 80%;
    width: 100%;
    /* border-top: 2px solid black; */
    display: flex;
    flex-direction: row;
  }

  #black{
    height: 100%;
    width: 20%;
    background-color: #404040;
  }

  #office{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-image: url("https://res.cloudinary.com/misstourismasia/image/upload/v1571276817/Building.jpg");
  }

  #Chi1{
    display: block;
    color: white;
    /* font-size: 30px; */
    font-size: 5.5vw;
    margin-left: calc(10%);
    margin-top: 150px;
  }

  #Chi2{
    display: block;
    color: white;
    font-size: 50px;
    margin-top: 130px;
  }

  #Intro{
    z-index: 2;
    position: relative;
    left: calc(10%);
    font-size: 30px;
    top: 10px;
    color: #c68803;
  }

  #CompanyName{
    display: block;
    /* width: 600px; */
    width: 80vw;
    z-index: 2;
    position: relative;
    left: calc(45%);
    font-size: 5vw;
    top: 60px;
    color: #f5ea74;
    font-family: Arial, Helvetica, sans-serif;
    /* f5ea74 */
    /* border: 2px solid black; */
  }

  #CompanyDesc{
    display: block;
    /* width: 700px; */
    width: 70vw;
    height: 140px;
    z-index: 2;
    position: relative;
    left: calc(45%);
    /* font-size: 20px; */
    font-size: 3.0vw;
    top: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(22, 21, 21, 0.3);/*background color and opacity together*/
    padding: 20px 20px 20px 20px;
  }
}