@media only screen and (min-width:1200px){

  #GalleryPageMainContainer {
    /*border: 2px solid black;*/
    height: 100%;
    /*min-height: 600px;*/
    width: 100%;
  }
  
  #GalleryHeading {
    height: 10%;
    color: #c68803;
    /*text-align: center;*/
    font-size: 2.5vw;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid black;*/
  }
  
  #MainImageContainer {
    height: 400px;
    max-height: 400px;
    width: 600px;
    margin-left: calc((100% - 600px) / 2 );
    min-width: 600px;
    /* border: 1px solid black; */
    border-bottom: none;
    position: relative;
    border-radius: 0 3px 3px 0;
  }

  #prev {
    position: absolute;
    height: 50px;
    width: 40px;
    bottom: calc(100% / 2 - 25px);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 3px 3px 0;
    color: white;
  }

  #next {
    position: absolute;
    height: 50px;
    width: 40px;
    bottom: calc(100% / 2 - 25px);
    left: calc(100% - 40px);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 0 0 3px;
    color: white;
  }

  #prev:hover,
  #next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

  #MainImageSelected{
    height: 100%;
    /* max-height: 400px; */
    width: 600px;
    /* margin-left: calc((100% - 600px) / 2 );
    margin-top: 20px;
    min-width: 600px; */
    vertical-align: middle;
  }

  #CurrentImageTitle{
    height: 40px;
    width: 600px;
    margin-left: calc((100% - 600px) / 2 );
    background-color:#c68803;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
     /*border: 5px solid black; */
  }

  #AllImagesRow{
    height: 100px;
    width: 600px;
    margin-left: calc((100% - 600px) / 2 );
    display: flex;
    flex-direction: row;
    /* border: 1px solid black;
    border-top: none; */
  }

  .AllImages{
    height: 100%;
    width: calc(100% / 5);
    cursor: pointer;
  }

  .AllImages:hover{
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.99px){
   #GalleryPageMainContainer {
    border: 2px solid black;
    height: 100%;
    min-height: 600px;
    width: 100%;
    background-color: black;
  }
  
  #GalleryHeading {
    height: 20%;
    color: white;
    /*text-align: center;*/
    font-size: 5.5vw;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #MainImageContainer {
    height: 40%;
    min-height: 400px;
    width: 80%;
    margin-left: calc((100% - 80%) / 2 );
    /*margin-top: 20px;*/
    /*min-width: 600px;*/
     /*border: 5px solid red; */
    border-bottom: none;
    position: relative;
    border-radius: 0 3px 3px 0;
  }

  #prev {
    position: absolute;
    height: 50px;
    width: 40px;
    bottom: calc(100% / 2 - 25px);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 3px 3px 0;
    color: white;
  }

  #next {
    position: absolute;
    height: 50px;
    width: 40px;
    bottom: calc(100% / 2 - 25px);
    left: calc(100% - 40px);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 0 0 3px;
    color: white;
  }

  #prev:hover,
  #next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

  #MainImageSelected{
    height: 100%;
    /* max-height: 400px; */
    width: 100%;
    /* margin-left: calc((100% - 600px) / 2 );
    margin-top: 20px;
    min-width: 600px; */
    vertical-align: middle;
  }

  #CurrentImageTitle{
    height: 5%;
    width: 80%;
    margin-left: calc((100% - 80%) / 2 );
    background-color:#c68803;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
     /*border: 5px solid green; */
  }

  #AllImagesRow{
    height: 10%;
    width: 80%;
    margin-left: calc((100% - 80%) / 2 );
    display: flex;
    flex-direction: row;
    /*border: 5px solid red;*/
    /*border-top: none; */
  }

  .AllImages{
    height: 100%;
    width: calc(100% / 5);
    cursor: pointer;
  }

  .AllImages:hover{
    opacity: 1;
  }
}

@media only screen and (max-width: 767.99px) {
   #GalleryPageMainContainer {
    border: 2px solid black;
    height: 100%;
    min-height: 600px;
    width: 100%;
    background-color: black;
  }
  
  #GalleryHeading {
    height: 10%;
    color: white;
    /*text-align: center;*/
    /*border: 2px solid red;*/
    font-size: 7.5vw;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #MainImageContainer {
    height: 40%;
    /*min-height: 400px;*/
    width: 80%;
    margin-left: calc((100% - 80%) / 2 );
    /*margin-top: 20px;*/
     /*border: 5px solid red; */
    border-bottom: none;
    position: relative;
    border-radius: 0 3px 3px 0;
  }

  #prev {
    position: absolute;
    height: 50px;
    width: 40px;
    bottom: calc(100% / 2 - 25px);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 3px 3px 0;
    color: white;
  }

  #next {
    position: absolute;
    height: 50px;
    width: 40px;
    bottom: calc(100% / 2 - 25px);
    left: calc(100% - 40px);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 0 0 3px;
    color: white;
  }

  #prev:hover,
  #next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

  #MainImageSelected{
    height: 100%;
    /* max-height: 400px; */
    width: 100%;
    /* margin-left: calc((100% - 600px) / 2 );
    margin-top: 20px;
    min-width: 600px; */
    vertical-align: middle;
  }

  #CurrentImageTitle{
    height: 5%;
    width: 80%;
    margin-left: calc((100% - 80%) / 2 );
    background-color:#c68803;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.0vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
     /*border: 5px solid green; */
  }

  #AllImagesRow{
    height: 10%;
    width: 80%;
    margin-left: calc((100% - 80%) / 2 );
    display: flex;
    flex-direction: row;
    /*border: 5px solid red;*/
    /*border-top: none; */
  }

  .AllImages{
    height: 100%;
    width: calc(100% / 5);
    cursor: pointer;
  }

  .AllImages:hover{
    opacity: 1;
  }
}